<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">KAZNews24</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div th:switch = "${user}">
            <a th:case = "${null}" class="nav-link" href="/sign-in">Sign In</a>
            <a th:case = "*" class="nav-link" th:href="@{/profile/{id}(id=${user.getId()})}" th:text="${user.getFullname()}"></a>
          </div>
        </li>
        <li class="nav-item">
          <div th:switch = "${user}">
            <a th:case = "${null}" class="nav-link" href="/sign-up">Sign Up</a>
            <a th:case = "*" class="nav-link" href="/log-out">Log out</a>
          </div>
        </li>
        <li class="nav-item">
          <div th:switch = "${user}">
            <a th:case = "${null}" class="nav-link" href="/sign-up">Sign Up</a>
            <a th:case = "*" class="nav-link" href="/log-out">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>